@theme {
  --gradient-primary: linear-gradient(90deg, var(--colors-black), var(--colors-white));
  --bg-leadership-card: linear-gradient(192deg, rgba(29, 2, 84, 0) 34.42%, rgba(29, 2, 84, 0.9) 66.19%);
  --bg-grid:
    linear-gradient(0deg, #1d0254 0%, rgba(29, 2, 84, 0) 11.54%, rgba(29, 2, 84, 0) 75.57%, rgba(29, 2, 84, 0.8) 93%),
    url(/background/hero-bg-texture.png);
  --bg-conversion-panel: url(/background/cp-bg.svg);
  --bg-grid-form: url(/background/grid-bg.svg);
  --gradient-hero-purple: linear-gradient(354deg, rgba(128, 57, 223, 0.5) 4.98%, rgba(128, 57, 223, 0) 60%);
  --gradient-hero-teal: linear-gradient(354deg, rgba(109, 255, 236, 0.7) 4.98%, rgba(109, 255, 236, 0) 60%);
  --gradient-hero-blue: linear-gradient(354deg, rgba(60, 175, 242, 0.6) 4.98%, rgba(60, 175, 242, 0) 60%);
  --gradient-hero-pink: linear-gradient(354deg, rgba(253, 99, 254, 0.6) 4.98%, rgba(253, 99, 254, 0) 55.83%);
  --gradient-hero-purple-inverse: linear-gradient(174deg, rgba(128, 57, 223, 0.5) 4.98%, rgba(128, 57, 223, 0) 60%);
  --gradient-hero-teal-inverse: linear-gradient(174deg, rgba(109, 255, 236, 0.7) 4.98%, rgba(109, 255, 236, 0) 60%);
  --gradient-hero-blue-inverse: linear-gradient(174deg, rgba(60, 175, 242, 0.6) 4.98%, rgba(60, 175, 242, 0) 60%);
  --gradient-hero-pink-inverse: linear-gradient(174deg, rgba(253, 99, 254, 0.6) 4.98%, rgba(253, 99, 254, 0) 55.83%);
  --gradient-testimonial: linear-gradient(0deg, rgba(128, 57, 223, 0.50) 0%, rgba(128, 57, 223, 0.00) 49.85%);
  --gradient-hero-border: linear-gradient(109deg, #FFF 0.46%, rgba(255, 255, 255, 0.40) 25.42%, rgba(253, 99, 254, 0.10) 53.65%, rgba(255, 255, 255, 0.40) 75.84%, #FFF 100.32%);
  --bg-subscribe-panel:
    linear-gradient(271deg, rgba(128, 57, 223, 0.00) 91.98%, #8039DF 98.34%),
    linear-gradient(91deg, rgba(128, 57, 223, 0.00) 87.96%, #8039DF 97.45%),
    linear-gradient(0deg, rgba(128, 57, 223, 0.9) 0%, rgba(128, 57, 223, 0.9) 100%),
    url(/background/converson-panel-grid-bg.png),
    linear-gradient(0deg, var(--color-purple-500, #8039DF) 0%, var(--color-purple-500, #8039DF) 100%);
  --bg-blog-hero: linear-gradient(0deg, rgba(128, 57, 223, 0.50) 0%, rgba(128, 57, 223, 0.00) 49.85%);
  --bg-blog-featured-card: linear-gradient(193deg, rgba(29, 2, 84, 0.00) 38.72%, rgba(29, 2, 84, 0.80) 77.31%);

}
