@theme {
  --mask-content: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);

  /* Mask Composite */
  --composite-add: add;
  --composite-subtract: subtract;
  --composite-exclude: exclude;
  --composite-intersect: intersect;
}

@utility mask-composite-* {
  mask-composite: --value(--composite- *);
}
