/* General */
@utility absolute-cover {
  @apply absolute inset-0 size-full;
}

@utility animate-pause {
  animation-play-state: paused;
}

@utility scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    @apply hidden;
  }
}

/* Focus Outlines */
@theme inline {
  --focus-outline-primary: var(--colors-teal-500);
  --focus-outline-error: var(--colors-error-500);
}

@utility focus-outline-* {
  &:focus-visible,
  &:has(:focus-visible) {
    outline: 4px solid;
    outline-color: --value(--focus-outline- *);
  }
}

@utility stateful-outline-* {
  outline: 3px solid;
  outline-color: --value(--focus-outline- *);
}

/* Bleed */
@utility bleed-* {
  padding: calc(var(--spacing) * --value(integer));
  margin: calc(var(--spacing) * --value(integer) * -1);
}

@utility bleed-x-* {
  padding-inline: calc(var(--spacing) * --value(integer));
  margin-inline: calc(var(--spacing) * --value(integer) * -1);
}

@utility bleed-y-* {
  padding-block: calc(var(--spacing) * --value(integer));
  margin-block: calc(var(--spacing) * --value(integer) * -1);
}

@utility bleed-t-* {
  padding-top: calc(var(--spacing) * --value(integer));
  margin-top: calc(var(--spacing) * --value(integer) * -1);
}

@utility bleed-r-* {
  padding-right: calc(var(--spacing) * --value(integer));
  margin-right: calc(var(--spacing) * --value(integer) * -1);
}

@utility bleed-b-* {
  padding-bottom: calc(var(--spacing) * --value(integer));
  margin-bottom: calc(var(--spacing) * --value(integer) * -1);
}

@utility bleed-l-* {
  padding-left: calc(var(--spacing) * --value(integer));
  margin-left: calc(var(--spacing) * --value(integer) * -1);
}

/* Border Gradient */
@utility border-gradient-* {
  @apply relative after:absolute after:-inset-0.5 after:bg-[size:100%] after:p-0.5 after:mask-composite-exclude after:mask-image-content;
  &:after {
    background-image: --value(--gradient- *);
  }
}

/* Masks */
@utility mask-image-* {
  mask-image: --value(--mask- *);
}

/* Icon Color */
@utility icon-* {
  fill: --value(--color- *);
  stroke: --value(--color- *);
}

@layer utilities {
  .content-grid {
    --grid-columns: 12;
    --grid-gutter: theme(spacing.6);
    --grid-margin: theme(spacing.6);

    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    gap: var(--grid-gutter);

    @screen md {
      --grid-gutter: theme(spacing.8);
      --grid-margin: theme(spacing.12);
    }

    @screen lg {
      --grid-margin: theme(spacing.16);
    }
  }

}

/* Word Spacing */
@theme inline {
  --word-spacing-none: 0px;
  --word-spacing-xs: 1px;
  --word-spacing-sm: 2px;
  --word-spacing-md: 4px;
  --word-spacing-lg: 8px;
  --word-spacing-xl: 16px;
  --word-spacing-2xl: 32px;
  --word-spacing-full: 100vw;
}

@utility word-spacing-* {
  word-spacing: --value(--word-spacing- *);
}

@utility filter-pattern {
  filter: hue-rotate(45deg) saturate(4) brightness(1.2);
}

@utility clip-path-card-top {
  clip-path: shape(
    from 16px 0px,
    line to calc(100% - 16px) 0,
    arc to 100% 16px of 16px cw,
    line to 100% calc(100% - 48px),
    arc to calc(100% - 16px) calc(100% - 32px) of 16px cw,
    line to 16px 100%,
    arc to 0% calc(100% - 16px) of 16px cw,
    line to 0% 16px,
    arc to 16px 0 of 16px cw
  );
}

@utility clip-path-card-bottom {
  clip-path: shape(
    from 16px 32px,
    line to calc(100% - 16px) 0,
    arc to 100% 16px of 16px cw,
    line to 100% calc(100% - 16px),
    arc to calc(100% - 16px) 100% of 16px cw,
    line to 16px 100%,
    arc to 0% calc(100% - 16px) of 16px cw,
    line to 0% 48px,
    arc to 16px 32px of 16px cw
  );
}
@utility animation-paused {
  animation-play-state: paused;
}